.register-container {
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    .register-placeholder {

      .register-error{
        color: red;
      }

      display: flex;
      flex-direction: column;
      height: 500px;
      width: 550px;
      justify-content: center;
      align-items: center;
      border: 5px solid black;
      border-radius: 10px;

      h3 {
        padding: 15px 0;
        letter-spacing: 2px;
      }
      
      input {
        padding: 8px;
        width: 350px;
      }

    }
  }
}
