.companies-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .company{
        min-width:50vw;
        padding: 5px;
        border: 1px solid black;
        margin-left: 25px;
    }
    
    .buttons {
        width: 40vw;
        display: flex;
        justify-content: space-between;
        
        .next-button, .back-button {
            padding: 10px 30px;
            border-radius: 20px;
            margin-top: 25px;
        }
        
        .next-button {
            background-color: rgb(129, 172, 205);
            color: black;
            padding: 10px;
            width: 120px;
            font-weight: 600;
            margin-top: 25px;
            border: 0.5px solid black;
            border-radius: 20px;
    
            &:hover {
                cursor: pointer;
                background-color: rgb(159, 158, 158);
                color: black;
            }
        }
        
        .back-button {
            background-color: white;
            color: black;
            padding: 10px;
            width: 120px;
            font-weight: 600;
            margin-top: 25px;
            border: 0.5px solid black;
            border-radius: 20px;

            &:hover {
                cursor: pointer;
                background-color: black;
                color: white;
            }
        }
        }
    }

