.companies-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

.companies-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-height: 650px;
    width: 650px;
    overflow: auto;
    
    .company{
        &.selected{
            border: 3px solid #006eff;
        }
        
        text-align: center;
        font-weight: 500;
        width: 200px;
        height: 50px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: rgb(241, 240, 240);
        margin: 10px;
        margin-right: 65px;
        margin-left: 20px;
        padding: 15px;
    }
}
    
    .buttons {
        display: flex;
        
        .next-button, .back-button {
            padding: 10px 30px;
    
            margin-top: 25px;
        }
        
        
        .back-button {
            background-color: white;
            color: black;
            margin-right: 450px;
            margin-left: 25px;
            &:hover {
                cursor: pointer;
                background-color: rgb(230, 230, 230);
                color: black;
            }
        }
        }
    }

