.creating-report {

.steps-wrapper {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details-wrapper {
    display: flex;
    flex-direction: column;
}

.title {
    padding-top: 25px;
    padding-left: 25px;
    background-color: #006eff;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}

.submit-error {
    color: red;
    text-align: center;
    padding-left: 100px;
    font-size: 24px;
    font-weight: 600;
}
}