.modal-background{
    background-color: rgba(0,0,0,0.7);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;

    img{
        height: 30px;
        width: 30px;
       position: absolute;
       top: 0;
       right: 0;
       margin-right: 10px;
       margin-top: 10px;
    }

    .modal-content {
        background-color: white;
        padding: 35px;
        font-style: bold;
    }
}