.header {
  display: flex;
  background-color: black;
  color: white;
  font-size: 22px;
  font-weight: 100;
  min-height: 50px;
  align-items: center;
  padding: 25px;
  letter-spacing: 2px;
  position: relative;

  h4 {
    margin-right: 25px;
  }

  a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    &:active {
      color: #006eff;
    }
  }

  .user-verification {
    img {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 25px;
      margin-right: 25px;
      height: 30px;
      width: 30px;
      cursor: pointer;
    }

    a {
      position: absolute;
      text-decoration: none;
      color: white;
      &:active {
        color: #006eff;
      }
    }

    .register {
      top: 0;
      right: 0;
      margin-top: 25px;
      margin-right: 100px;
    }

    .login {
        top: 0;
      right: 0;
      margin-top: 25px;
      margin-right: 25px;
    }
  }
}
